prisma/migrations
prisma/schema.prisma
prisma/seed.ts
src/generated/*

node_modules
dist
build

.env
.env.local
.env.development
.env.test
.env.production
*.log

.vscode/
.idea/
*.sublime*
*.code-workspace

.DS_Store
Thumbs.db
desktop.ini

coverage/
*.tmp
*.temp
*.cache
.nyc_output/

# Misc
*.bak
*.swp